.navbar{
      background-color: black;
      font-family: 'Times New Roman', Times, serif;
      position: fixed;
      top: 0;
      left: 0;
      justify-content: right;
      width: 100%;
      z-index: 1000;
    }
.navdiv{
      position: sticky;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    li {
      display: inline;
      list-style: none;
    }
    ul li a{
      text-decoration: none;
      color: rgb(221, 211, 211);
      padding: 10px;
      font-size: 20px;
      font-weight: bold;
      
    }
    img{
        height: 100px;
        width:200px;
    }
    .items{
      display: flex;
      justify-content: space-around;
      margin-top: 150px;
    }

