.payment-container {
  width: 400px;
  margin: 60px auto;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 3px 10px black;
}

.payment-container h2 {
  text-align: center;
  color: #333;
}

input, select {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.pay-btn {
  width: 100%;
  padding: 10px;
  background-color: greenyellow;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}


